@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="fiximage">
        <img src="~/Images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" width="100%" class="img-thumbnail"/>
        <h2 style="position:absolute;top:200px;right:200px;background-color:aliceblue;border-radius:5px;padding:5px;">Welcome to Freak!!!</h2>
    </div>
</div>
